version: "3"

services:
  django-project:
    build: .
    container_name: django
    command: python manage.py runserver 0.0.0.0:8000

    volumes:
      - .:/usr/src/app

    ports:
      - 8001:8000

  pgdb:
    image: postgres
    container_name: db
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - pgdata:/var/lib/postgresql/data/

volumes:
  pgdata: null